.cadastro-login {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    flex-grow: 1;
}

h1.cadastro__texto.login {
    margin: 3.5em 0 3em 0;
}

.conteudo__login {
    color: var(--coral);
    font-size: 12px;
    font-weight: 400;
}

