.cadastro-login {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    flex-grow: 1;
}

h1.cadastro__texto.login {
    margin: 3.5em 0 3em 0;
}

.conteudo__login {
    color: var(--coral);
    font-size: 12px;
    font-weight: 400;
}

.botao__login {
        margin: 2em auto 1em auto;
    
        display: block;
        background-color: var(--coral);
        border-radius: 6px;
        padding: 0.5em;
        font-weight: 600;
        color: var(--branco);
        text-decoration: none;
        width: 12rem;
}

