.container-msg {
    background-image: 
    url('../img/bg-mobile/formaHeader-RoxoClaro.svg');
    background-repeat: no-repeat;
    background-position: left top;
}

.container-ficha {
    background-color: var(--cinza-claro-fundos);
    margin: 1em auto;
    border-radius: 10px;
    padding: 2em 2em;
    width: 90%;    
}


.titulo-ficha {
    text-align: left;
    font-weight: 600;
    margin: 1em 0 .5em 0;
}

.input-ficha {
    background: var(--branco);
    border-radius: 6px;
    padding: 1em 1em;
    width: 100%;
    border: none;
    font-family: var(--fonte-principal);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.msg {
    padding-bottom: 10em;    
}

.input-ficha::placeholder {
    font-size: 14px;
    color: var(--cinza-claro);
}

@media screen and (min-width: 768px) {
    .container-msg {
        background-image:
        url('../img/bg-responsivo/formaHeader-RoxoClaro.svg'),
        url('../img/bg-responsivo/formaMain-RoxoClaro.svg'); 
        min-height: 120vh;
        background-position: left top, right center; 
    }
    .descricao-home {
        width: 30%;
    }
    .container-ficha {
        width: 50%;
        margin: 1em auto;
    }
}