.cadastro__perfil {
    color: var(--verde-escuro);
    font-size: 21px;
    font-weight: 600;
    text-align: center;
}

.foto-perfil {
    height: 40px;
}

.perfil__imagem,
.perfil__login {
    margin: .5em auto .5em auto;
    display: block;
    text-align: center;
}

.perfil__login {
    color: var(--vermelho-escuro);
    font-size: 12px;
    font-weight: 400;
}


.input-ficha::placeholder {
    font-family: var(--fonte-principal);
    color: var(--cinza);
    font-size: 14px;
    font-weight: 400;
}

.sobre {
    height: 10em;
}

@media screen and (min-width: 768px) {
    .foto-perfil {
        height: 64px;
    }
}

@media screen and (min-width: 1440px) {
    .perfil {
        padding-left: 53em;
    }
}