@import url('./css/inicio.css');
@import url('./css/cadastro.css');
@import url('./css/login.css');
@import url('./css/home.css');
@import url('./css/mensagem.css');
@import url('./css/perfil.css');

:root {
    --cor-de-fundo: #E5E5E5;
    
    --azul: #3772FF;
    --verde: #36D6AD;
    --coral: #FC7071;
    --rosa-claro: #FF9D9E;
    --creme: #FCF0E3;

    --cinza: #737380;    
    --cinza-claro: #BCBCBC;
    --cinza-claro-fundos: #F7F7F7;
    --branco: #FFFFFF;

    --fonte-principal: 'Poppins';
    --fonte-secundaria: 'IBM Plex Sans';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--fonte-principal);
    font-size: 16px;
    color: var(--azul);
}

h1 {
    font-size: 16px;
    font-weight: 600;
}